html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #f3eff8;
}

a {
  color: #f3eff8;
}

/* mouse over link */
a:hover {
  color: #be69ff;
}

/* selected link */
a:active {
  color: #7676ff;
}

header {
  text-align: center;
  background-color: #12111a;
  filter: drop-shadow(0 0 5px rgb(144, 144, 144));
}

header h1 {
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 36px;
}

header p {
  padding-bottom: 1%;
  font-size: 12px;
  font-style: italic;
}

.standard-card img {
  max-width: 10%;
  margin-top: 1%;
}

.nav-bar {
  border: 3px;
  border-color: green;
  border-style: solid;
  margin: 20px;
  text-align: left;
}

.nav-bar li {
  display: inline;
}

body {
  background-color: #504e74;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.big-card {
  width: 80%;
  height: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(176, 176, 176, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url("/assets/images/horiseaon_refactor.png");
  background-size: cover;
  background-position: top;
}

.big-card h3 {
  position: relative;
  bottom: 0;
}

.small-card {
  width: 33%;
}

section {
  border: 3px;
  border-color: black;
  border-style: solid;
  margin: 20px;
}

div {
  border: 3px;
  border-color: blue;
  border-style: solid;
  margin: 20px;
}

footer {
  border: 3px;
  border-color: blueviolet;
  border-style: solid;
  margin: 20px;
  text-align: center;
}

/* Tablets */
@media screen and (max-width: 992px) {
  .project-grid {
    justify-content: center;
  }
  .big-card {
    width: 100%;
  }
  .small-card {
    width: 100%;
  }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  header {
    text-align: center;
  }
  .nav-bar li {
    display: block;
    text-align: center;
  }
  .standard-card li {
    display: block;
    text-align: center;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}
